.portf{
     text-transform: uppercase;
    color: #2c3e50;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.starto{
    color: #2c3e50;
    font-size: 20px;
    
}
h4{
 text-align: center;
 position: relative;
 width: 100%;
}
h4::after{
    content: "";
    position: absolute;
    background: #2c3e50;
    width: 6%;
    height: 5px;
    top: 61%;
    right: 42%; 

}
h4::before{
    content: "";
    position: absolute;
    background: #2c3e50;
    width: 6%;
    height: 5px;
    top: 61%;
    left: 42%; 

}
